<!DOCTYPE html>  
<html>  
<head>  
    <title>Add Employee</title>  
</head>  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Employee Information</h2>   
    <form action = "http://localhost:5000/savedetails" method="post">  
    <table>  
        <tr><td>City</td><td><input type="text" name="city"></td></tr>  
        <tr><td>Humidity</td><td><input type="text" name="humidity"></td></tr>  
        <tr><td>Max Temprature</td><td><input type="text" name="maxtemp"></td></tr>
        <tr><td>Min Temprature</td><td><input type="text" name="mintemp"></td></tr>  
        <tr><td><input type="submit" value="Submit"></td></tr>  
    </table>  
    </form>  
</body>
</html>


